:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #f0f0f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: var(--title-color);
}

a {
  display: flex;
  text-decoration: none;
}

#page-home {
  height: 100vh;
  background: url("../assets/home-background.svg") no-repeat;
  background-position: 35vw bottom;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

header a {
  color: var(--title-color);
  font-weight: bold;
}

header a span {
  height: 20px;
  width: 20px;
  background: url("../assets/log-in.svg");
  display: flex;
  margin-right: 16px;
}

.content {
  height: 100%;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 560px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-size: 3em;
}

main p {
  font-size: 1.5em;
  line-height: 38px;
  margin-top: 16px;
}

main a {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 72px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  margin-top: 40px;
  transition: 400ms;
}

main a:hover {
  background: #2fb86e;
}

main a span {
  width: 72px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

main a span::after {
  content: "";
  background-image: url("../assets/search.svg");
  width: 20px;
  height: 20px;
}

#page-cadastro main {
  width: 100%;
  max-width: 736px;
  background: white;
  margin: 80px auto;
  padding: 64px;
}

#page-cadastro main h1 {
  font-size: 2.25em;
}

#page-cadastro main h2 {
  font-size: 1.5em;
}

#page-cadastro main p {
  font-size: 0.875em;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  color: #6c6c80;
}

#page-cadastro main fieldset legend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-cadastro main p {
  margin-top: 0;
}

#page-cadastro main form {
  margin-top: 64px;
}

#page-cadastro main form fieldset {
  border: 0;
  margin-top: 40px;
}

#page-cadastro main form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-cadastro main form .input-group {
  display: flex;
}

#page-cadastro main form .input-group .fg3 {
  flex-grow: 3;
}

#page-cadastro main form input,
form select {
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  margin-top: 8px;
  outline: none;
  padding: 16px 24px;
  font-size: 16px;
}

#page-cadastro main form button {
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  margin-top: 64px;
  float: right;
}

#page-cadastro main form label {
  color: #6c6c80;
  font-size: 0.875em;
}

form .input-group .field + .field {
  margin-left: 24px;
}

.items-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-top: 40px;
}

.items-grid li{
  background-color: #e1faec;
  list-style: none;
  border: 2px solid #e1faec;
  height: 180px;
  padding: 32px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.items-grid li:hover{
  background: linear-gradient(0deg, #e1faec 0%, #ffffff 100%);
  border: 2px solid #34cb79;
  border-radius: 4.30811px;
  cursor: pointer;
}

.items-grid li span{
  margin-top: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--title-color);
}

.items-grid li img,
.items-grid li span{
  pointer-events: none;
}

.items-grid li.selected{
  background: linear-gradient(0deg, #e1faec 0%, #ffffff 100%);
  border: 2px solid #34cb79;
  border-radius: 4.30811px;
}

.modal.hide{
  display: none;
}

.modal{
  height: 100vh;
  width: 100vw;
  background-color: #0e0a14ef;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .content{
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 420px;
}

.modal .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;
}

.modal .header a{
  background-image: url("../assets/x.svg");
  width: 20px;
  height: 20px;
  display: flex;
  font-size: 0.01px;
}

.modal h1{
  color: #ffffff;
  font-size: 36px;
  line-height: 42px;
}

.modal form label{
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 8px;
}

.modal form{
  width: 100%;
}

.modal form .field{
  display: flex;
}

.modal form input{
  flex: 1;
  background-color: #f0f0f5;
  border-radius: 8px 0 0 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

.modal form button{
  width: 72px;
  height: 72px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 0 8px 8px 0;
  transition: 400ms;
}

.modal form button:hover{
  background-color: #2fb86e;
}

#bodySearch{
  background: #ffffff;
}

#bodySearch::after{
  content: "";
  position: absolute;
  background: #f0f0f5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 16rem;
  z-index: -1;
}

#page-search h4 {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  margin-bottom: 32px;
}

#page-search main {
  width: 100%;
  max-width: 1100px;
  /* background: white;
  margin: 80px auto;
  padding: 64px; */
}

#page-search main{
  margin: 48px 0;
}

#page-search main .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

#page-search main .card img{
  width: 100%;
  height: 220px;
  border-radius: 8px 8px 0 0;
}

#page-search main .card h1{
  font-size: 36px;
  line-height: 41px;
  color: #322153;
  margin-top: 32px;
}

#page-search main .card h3{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-style: 24px;
  line-height: 34px;
  color: var(--primary-color);
  margin: 24px 0;
}

#page-search main .card p{
  font-size: 16px;
  line-height: 26px;
  color: #6c6c80;
}

@media screen and (max-width: 1366px) {
  #page-home {
    background-position: 50vw bottom;
    background-size: 40em;
  }
  #page-home main h1 {
    font-size: 2.5em;
  }

  #page-home main p {
    font-size: 1em;
    line-height: 25px;
    margin-top: 10px;
  }
  #page-home main a {
    margin-top: 10px;
  }
}
@media screen and (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }
  #page-home .content {
    align-items: center;
    text-align: center;
  }
  header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
  #page-home main {
    align-items: center;
  }

  #page-cadastro main form fieldset{
    display: flex;
    flex-direction: column;
  }

  #page-cadastro main form .field{
    margin-left: 0;
  }
}
