{% extends "layout.html" %}

{% set pageId = "page-search" %}
{% set bodyId = "bodySearch" %}

{% block content %}
  <div class="content">
    {% include "partials/page-header.html" %}
    <main>
      {% if total > 0 %}
        <h4>
          <strong>{{ total }}
            pontos</strong>
          encontrados</h4>
        <div class="cards">
          {% for place in places %}
            <div class="card">
              <img src="{{ place.image }}" alt="{{ place.name }}">
              <h1>{{ place.name }}</h1>
              <h3>{{ place.items }}</h3>
              <p>
                {{ place.city }},
                {{ place.states }}
                <br>
                {{ place.address }}
                <br>
                Nº
                {{ place.address2 }}
              </p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h4>Nenhuma empresa foi encontrada para esta região.</h4>
      {% endif %}
    </main>
  {% endblock content %}